<%- include('top') %>
<div id="app">
  <h1><%= title %></h1>
  <ul>
    <% list.forEach(item => { %>
    <li>
      <a href="/detail/<%= item.id%>"><%= item.name %></a>
    </li>
    <% }) %>
  </ul>
</div>
<%- include('bottom') %>
